@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  // #### Text

--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

// #### Gradient

// Background gradient:

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

// ### Neutral

// #### Text

--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

// #### Dividers

--Light-grayish-blue: hsl(240, 5%, 91%);

}


*, *::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue)) no-repeat;
  min-height: 100vh;
  padding: 3rem 1rem;
}

img{
  max-width: 100%;
}

.card{
  background-color: white;
  position: relative;
  margin-top: 6rem;
  min-height:70vh;
  border-radius: 1rem;
  padding: 1rem;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;

  .box{
    // visibility: hidden;
    display: none;
  }

  .content-container {
    margin-top: 7rem;
    

    h3{
      text-align: center;
      font-size: 1.7rem;
      margin-bottom: 2.5rem;
    }
  }

  img.hero{
    position: absolute;
    top: -7rem;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .pattern{
    position: absolute;
    top: -2%;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);

  }

  .center{
    display: flex;
    justify-content: space-between;
  }

  button{
  	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: flex;
  justify-content: space-between;
  // border: solid red;
  width: 100%;
  align-items: center;

  }

  .answer{
    color:red;
    height: 0;
    overflow: hidden;

  }

  .questions.bold{
    font-weight: bold;
  }

  .show{
    height: 3rem;
    // border:red solid;
    transition: all 1s ease;
    overflow: hidden;
  }
  .hide{
    height: 0;
    overflow: hidden;
    // border:red solid;
    transition: all .3s ease;
  }
  .arrow{
    transition: all .3s  ease;
  }
  

  .down-arrow{
    transform: rotate(180deg);
    transition: all .3s ease;
  }

  article{
    padding: .6rem 0;
    border-bottom: rgba(128, 128, 128, 0.502) 1px solid;
  }
}

@media screen and (min-width: 900px){

  .img-container{
    display: block;


    min-height: 300px;

  }
 
  .card {
   display: flex;
   min-height: 60vh;
   max-width: 60rem;
   margin: 4rem auto;
   padding-left: 0;
   position: relative;

    align-items: center;


    .content-container{

    margin-top: 0;
    z-index: 0;
    
    }

    picture{
      width: 100%;
      
    }
    img.hero{
    position: relative;

    overflow: hidden;
    top: 0;
    left: 9.1rem;
    width: 300px;
    //
    
    
    height: 290px;
    object-fit: cover;
    object-position: bottom right;
  
    }
    img.pattern{
      position: absolute;
      
      top: -22rem;
      left: -7rem;
      width: 900px;
      
      
      
      height: 900px;
      object-fit: contain;
      
    }

    img.box{
      position: absolute;
      display: block;
      
      
      
      left: -5rem;
      top: 11rem;
      width: 150px;
      
      
      
      height: 150px;
      object-fit: contain;
      
    }


  }

  .img-container, .content-container{
    flex: 1;
    

  }


}
